@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes border-grow {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes swap-lang_box-r {
  0% {
    right: 2.5em;
  }

  100% {
    right: 0;
  }
}

@keyframes swap-lang_box-l {
  0% {
    left: 2.5em;
  }

  100% {
    left: 0;
  }
}
