#history_wrap {
  display: none;
  margin: 3.5em auto 4em;
  max-width: 1280px;
  width: 100%;
  background: #fff;
  /* box-shadow: 0 5px 11px rgba(0, 0, 0, .2); */
  border-radius: .5em;
  border: 1px solid #dadce0;
  transition: .3s;
  position: relative;
  font-family: 'Lato', 'Noto Sans KR', sans-serif;
}

#history_wrap.on {
  display: block;
}

#history_wrap .title,
#history_wrap .item {
  padding: 1em;
}

#history_wrap .title {
  font-size: 20px;
}

#history_wrap .item {
  border-top: 1px solid #dadce0;
}

#history_wrap .clear,
#history_wrap .info {
  font-size: 14px;
}

#history_wrap .clear {
  float: right;
  display: inline-block;
  cursor: pointer;
}

#history_wrap #history .item {
  cursor: pointer;
  font-size: 16px;
  transition: .125s;
  padding: .5em 1em;
}

#history_wrap #history:not(.showAll) .item:nth-child(n+5) {
  display: none;
}

#history_wrap #history .item:hover {
  /* background: #eee; */
  box-shadow: 0 5px 11px rgba(0, 0, 0, .2);
}

#history_wrap #history .item .i,
#history_wrap #history .item .o {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: .5em 0;
}

#history_wrap .more {
  text-align: center;
  cursor: pointer;
}

@media only screen and (max-width: 1280px) {
  #history_wrap {
    box-shadow: none;
    border: none;
    border-radius: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
}

#ft-section {
  text-align: center;
  margin-top: 4em;
}

.ft-icon {
  display: inline-block;
  margin: 0 31px;
  cursor: pointer;
}

.ft-icon.on {
  color: #4285f4;
}

.ft-icon .material-icons {
  margin-right: 0;
  flex: auto;
}

body.translate .ft-icon.on {
  color: #00C853;
}

body.braille .ft-icon.on {
  color: #f44336;
}

.ft-icon-img {
  line-height: 70px;
  text-align: center;
  height: 70px;
  width: 70px;
  background: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 32px;
  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 50%;
  align-items: center;
  display: flex;
}

.ft-icon.on .ft-icon-img {
  background-color: #eaf0fc;
  border-color: #d2e3fc;
}

body.translate .ft-icon.on .ft-icon-img {
  background-color: #e8f5e9;
  border-color: #c8e6c9;
}

body.braille .ft-icon.on .ft-icon-img {
  background-color: #ffebee;
  border-color: #ffcdd2;
}

.ft-icon-text {
  font-size: 14px;
  line-height: 18px;
  margin-top: 8px;
  opacity: .54;
}

.ft-icon.on .ft-icon-text {
  opacity: 1;
}

.ft-icon .material-icons {
  font-size: 32px;
  line-height: .75em;
  color: gray;
}

.ft-icon.on .material-icons {
  color: #4285f4;
}

body.translate .ft-icon.on .material-icons {
  color: #00C853;
}

body.braille .ft-icon.on .material-icons {
  color: #f44336;
}

@media only screen and (max-width: 600px) {
  .ft-icon {
    margin: 0 18px;
  }

  .ft-icon-img {
    line-height: 60px;
    height: 60px;
    width: 60px;
  }
}

/* code book */
.codebook {
  margin: 3.5em auto 4em;
  max-width: 1280px;
  width: 100%;
  background: #fff;
  /* box-shadow: 0 5px 11px rgba(0, 0, 0, .2); */
  border-radius: .5em;
  border: 1px solid #dadce0;
  transition: .3s;
  position: relative;
  display: none;
}

.codebook.on {
  display: block;
}

.codebook .braille,
.codebook .morse {
  flex-flow: wrap;
  display: flex;
}

.codebook div.title {
  font-weight: bold;
  text-transform: uppercase;
  flex: 100%;
  padding: 1em;
  border: 1px solid silver;
  border-width: 0 1px 1px 0;
}

.codebook div.code_wrap {
  display: inline-block;
  min-width: 150px;
  padding: 1em;
  flex: auto;
  border: 1px solid silver;
  border-width: 0 1px 1px 0;
}

.codebook div.code_wrap:nth-of-type(2n+1) {
  background: #fafafa;
}

.codebook span.letter {
  margin-right: .5em;
}

.codebook span.code {
  font-weight: bold;
  font-family: 'Lato', 'Noto Sans KR', sans-serif;
}

body:not(.braille) .codebook .braille,
body.braille .codebook .morse {
  display: none;
}

@media only screen and (max-width: 600px) {
  .codebook div.code_wrap {
    min-width: 100px;
  }
}
