@media only screen and (max-width: 1280px) {
  .contents {
    box-shadow: none;
    border-radius: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  .lang_box.code .card_header:nth-of-type(n+4) {
    display: none;
  }

  .description {
    padding: 1em;
  }
}

@media handheld, only screen and (max-width: 600px) {
  body, footer {
    width: 100%;
  }

  body {
    margin: 56px auto;
  }

  header {
    width: 100%;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
    padding: 4px 0;
    z-index: 31;
  }

  .contents {
    display: block;
    box-shadow: none;
    margin-top: 0;
    border-top: none;
  }

  .analyze #card_header .lang_box.code .card_header.auto {
    display: none;
  }

  .card_header:not(.selected) {
    display: none;
  }

  .card_header.selected::after {
    border: none !important;
  }

  .lang_box.code .card_header:not(.selected) {
    display: none;
  }

  #lang_list {
    float: right;
  }

  #card_body {
    display: block;
  }

  #input {
    width: calc(100% - 4em);
    padding: 1em 3em 1em 1em;
    border-right: none;
  }

  #input_textarea {
    min-height: 1.5em;
    line-height: 1.5;
    /* font-size: 1em; */
  }

  #input_del {
    right: 0.5em;
    top: 0.5em;
  }

  #output {
    width: calc(100% - 2em);
    padding: 1em;
    background: #00C853 !important;
    color: #fff;
    border-radius: 0;
    min-height: 150px;
  }

  .analyze #output {
    background: #3079ed !important;
  }

  .braille #output {
    background: #f44336 !important;
  }

  #output.on {
    border-radius: 0;
  }

  #output_textarea {
    /* font-size: 1em; */
  }

  #output_menu {
    color: #fff;
  }

  #output_menu i:hover {
    color: #fff;
  }

  footer {
    left: auto;
  }

  form {
    max-width: 100%;
    white-space: nowrap;
    overflow: scroll;
  }
}
